DB_USERNAME=
DB_URL=
DB_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
OAUTH2_ENABLED=false

FRONTEND_URL=http://localhost:5173
OAUTH2_REDIRECT_URL=http://localhost:5173/oauth2/redirect
REGISTRATION_ENABLED=false

JWT_SECRET=
JWT_EXPIRATION_MS=3600000