.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Darker background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #1e1e1e;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  text-align: left;
}

.datePickerInput {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #444;
  background: #2a2a2a;
  color: white;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.modalButton {
  flex: 1;
}